@model Movies.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
            
                    <div class="form-group">
                        @if (@Model.ImageFile != null)
                        {
                            <div class="m-2">
                                <img class="w-25" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.ImageFile))">
                            </div>
                        }
                        <label for="file" class="control-label">Upload Image</label>
                        <input type="file" name="file" class="form-control"/>
                        <input type="hidden" asp-for="ImageFile" />
                    </div>
            
                    <div class="form-group">
                        <label asp-for="Director" class="control-label"></label>
                        <input asp-for="Director" class="form-control" />
                        <span asp-validation-for="Director" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
               
                        <textarea asp-for="Description" class="form-control" rows="6" cols="40"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-8">
                
                        <h5>Select genres</h5>
                            @{
                                List<Movies.Models.GenreDetailsViewModel> genres = ViewBag.GenrePopulate;

                                foreach (var genre in genres)
                                {
                                    var check = "";
                                    
                                    if (Model.Genres.Any(m => m.Id.Equals(genre.Id)))
                                    {
                                        check = "checked";
                                    }

                                    <div class="form-group">
                                        <input type="checkbox" @check name="selectedGenre" value="@genre.Id" />
                                        @genre.Name
                                    </div>
                                }
                            }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
